* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
  background: #030303;
  color: #fff;
}

body {
  min-height: 100vh;
}

h1 {
  font-weight: 500;
  letter-spacing: -0.03em;
}

h1 {
  color: #fff;
}
